/* Extra large devices (large desktops, 1800px and up) */
@media screen and (min-width: 1800px ) {
    .max-width {
        max-width: 1550px;
    }
   
        /* -----header----- */
 
    nav {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .menu {
        gap: 60px;
    }

    .header-action {
        margin-left: 0px;
    }

    
        /* -----banner----- */

    .banner-bg {
        height: 800px;
    }
    .banner-content {
        max-width: 1200px;
    }

    .banner-content > h2 {
        margin-bottom: 65px;
    }

    .banner-social {
        bottom: 100px;
        left: 100px;
    }

    .banner-scroll {
        bottom: 120px;
        right: 40px;
    }

        /* -----roadmap----- */

    .main-roadmap {
        max-width: 1700px;
    }
    .roadmap-item {
        flex: 0 0 22%;
    }
}

/* Extra large devices (large desktops, 1500px and up) */
@media screen and (max-width: 1799.99px ) {
    .max-width {
        max-width: 1550px;
    }
   
        /* -----header----- */
 
    nav {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .menu {
        gap: 60px;
    }

    .header-action {
        margin-left: 0px;
    }

    
        /* -----banner----- */

    .banner-bg {
        height: 800px;
    }
    .banner-content {
        max-width: 1200px;
    }

    .banner-content > h2 {
        margin-bottom: 65px;
    }

    .banner-social {
        bottom: 100px;
        left: 100px;
    }

    .banner-scroll {
        bottom: 120px;
        right: 40px;
    }

}

/* Extra large devices (large desktops, 1200px and up) */
@media screen and (max-width: 1499.99px ) {
    .max-width {
        max-width: 1250px;
    }
    .max-width-main {
        max-width: 1200px;
    }

        /* -----header----- */

    header {
        padding: 14px 0;
        font-size: 14px;
    }
    /* nav {
        margin-left: 60px;
    } */

    .menu {
        gap: 40px;
    }

    .header-action {
        padding-left: 30px;
    }

    .header-action li {
        margin-left: 7%;
    }

    .header-buy .buy-now {
        padding: 16px 35px;
        margin-left: 25%;

    }

    .logo {
        transform: scale(0.75);
    }

        /* -----banner----- */

    #banner {
        padding-top: 180px;
    }

    .banner-bg {
        height: 680px;
    }

    .banner-bg::before {
        top: 120px;
        height: 600px;
    }

    .img-banner img {
        width: 700px;
    }

    .banner-social {
        bottom: 90px;
    }

    .banner-scroll {
        bottom: 110px;
    }
    
        /* -----about----- */

    .about-content h2 {
        font-size: 38px;
        letter-spacing: -0.4px;
    }

    .about-content .button {
        width: 250px;
        font-size: 13px;
        padding: 20px 35px;
    }

        /* -----roadmap----- */

    .roadmap-map {
        padding: 0;
    }

    .roadmap-text h2{
        font-size: 40px;
    }
   
        /* -----download----- */

    .download-content h2 {
        font-size: 40px;
    }
    
        /* -----faq----- */

    .sticker-about.sticker-faq img.sticker2 {
        top: 8%;
        right: 4%;
    }
    .sticker-about.sticker-faq img.sticker1 {
        left: 3%;
        bottom: 4%;
    }
    .faq-content h2 {
        font-size: 40px;
    }
    
        /* -----contact----- */
    
    .contact-part h2 {
        font-size: 45px;
    }

    .contact-part .button {
        font-size: 13px;
    }
   
        /* -----newsletter----- */
    
    .main-news button {
        font-size: 13px;
    }

}

/* Large devices (desktops, 992px and up) */
@media screen and (max-width: 1199.99px ) 
{
    .max-width {
        max-width: 100%;
    }

    .max-width-main {
        max-width: 960px ;
    }

        /* -----header----- */

    nav {
        margin-left: 0;
    }

    .header-lang {
        display: none;
    }
    .logo {
        flex-basis: 15%;
    }
    
    .menu {
        justify-content: flex-start;
        /* flex-basis: 67%; */
        gap: 0;
    }
    .menu > li {
        margin-left: 30px;
    }
    .header-action {
        flex-basis: 18%;
        margin-left: 0;
        margin-right: 5px;
    }
    .header-action > li {
        margin-left: 0;
    }
    
    .header-buy .buy-now {
        margin-left: 30px;
    }

        /* -----banner----- */

    .banner-bg {
        height: 620px;
    }
    .banner-bg::before{
        top: 150px;
        height: 480px;
    }
    .banner-social, .banner-scroll {
        display: none;
    }

    .banner-content{
        max-width: 860px;
    }

    .banner-content > h2 {
        margin-bottom: 40px;
        font-size: 45px;
        letter-spacing: -0.45px;
    }

    .img-banner img {
        width: 600px;
    }

        /* -----countdown----- */


    .main-cd-part {
        column-gap: 70px;
    }

        /* -----about----- */

    .about-img img {
        max-width: 95%;
    }

    .about-content h2 {
        font-size: 35px;
    }

        /* -----choose----- */

    .choose-text h2 {
        font-size: 34px;
    }
    .choose-item .choose-item-text {
        width: 100%;
    }

        /* -----counter----- */

    .main-counter {
        padding: 64px 45px 33px;
    }

    .counter-text .counter-number {
        font-size: 40px;
    }

        /* -----roadmap----- */

    .roadmap-text {
        width: 43%;
    }
    .roadmap-text h2{
        font-size: 36px;
    }

        /* -----team----- */

    .team-text h2, .team-text p {
        font-size: 34px;
    }
    
        /* -----download----- */

    #download {
        padding: 130px 0;
    }
    .download-img, .download-content {
        flex: 0 0 50%;
    }
    .download-content h2 {
        font-size: 36px;
    }
       
        /* -----faq----- */
        
    .faq-content h2 {
        font-size: 36px;
    }
   
        /* -----contact----- */
    
    .main-contact {
        padding: 0;
    }
    .contact-item {
        width: 85%;
    }
    .contact-part h2 {
        font-size: 45px;
    }

    .contact-part .button {
        font-size: 13px;
    }
   
        /* -----newsletter----- */
    
    .main-news {
        padding: 50px 30px;
    }
    .main-news h2 {
        font-size: 28px;
    }
    .main-news button {
        font-size: 13px;
    }
   
        /* -----footer----- */
        
    .footer-top {
        padding: 70px 15px 65px;
    }
    .footer-bottom {
        padding: 40px 15px;
    }
}


/* Medium devices (tablets, 768px and up) */
@media screen and (max-width: 991.99px ) {
    .max-width {
        max-width: 720px;
    }
    .max-width-main {
        max-width: 720px;
    }

        /* -----header----- */

    .menu {
        display: none;
    }
    nav {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .header-lang {
        display: none;
    }
    .header-buy::before {
        display: none;
    }
    .logo {
        flex-basis: 30%;
        text-align: start;
    }
    
    .header-action {
        flex-basis: 60%;
        justify-content: flex-end;
    }
    .mobile-menu {
        display: block;
        flex-basis: 10%;
        margin-left: 5%;
    }

    
        /* -----banner----- */
    
    .banner-bg::before {
        top: 280px ;
        height: 400px;
    }

    .banner-content {
        max-width: 720px;
    }

    .banner-content > h2 {
        margin-bottom: 40px;
        font-size: 54px;
        letter-spacing: -0.45px;
        line-height: 1.25;
    }

        /* -----countdown----- */

    #countdown {
        max-width: 700px;
    }
        
    .main-cd-part {
        column-gap: 30px;
    }

        /* -----about----- */
    
    .main-about {
        flex-direction: column;
    }

    .about-img img {
        width: 100%;
        margin-bottom: 50px;
    }

    .about-content {
        width: 100%;
    }

    .about-content h2 {
        font-size: 40px;
    }

    .about-content p {
        max-width: 90%;
    }

    .sticker-about img.sticker1 {
        display: none;
    }

    .sticker-about img.sticker2 {
        right: 100px;
        bottom: 70px;
    }

        /* -----choose----- */

    .choose-text h2 {
        font-size: 40px;
        width: 100%;
    }
    
    .choose-item {
        flex: 0 0 50%;
        margin-bottom: 60px;
    }

        /* -----counter----- */

    .counter-part .counter-item {
        flex: 0 0 50%;
    }

    .main-counter {
        padding: 50px 45px 20px;
    }

        /* -----roadmap----- */

    .main-roadmap {
        max-width: 720px;
    }
    .roadmap-text {
        width: 60%;
    }

    .roadmap-text h2{
        font-size: 40px;
    }
    .roadmap-part::before,
    .roadmap-content::before,
    .roadmap-content .dot {
        display: none;
    }

    .roadmap-part {
        flex-wrap: wrap;
        margin-bottom: 0;
    }

    .roadmap-item,
    .roadmap-part .roadmap-item:nth-child(3),
    .roadmap-part .roadmap-item:nth-child(4) {
        flex-direction:row;
        flex: 0 0 50%;
        flex-wrap: wrap;
        padding-left: 30px;
        padding-bottom: 40px;
    }
    .roadmap-part .roadmap-item:nth-child(odd) {
        padding-left: 0;
        padding-right: 10px;
    }

    .roadmap-title {
        margin-bottom: 10px;
    }
    .roadmap-content {
        margin-left: 0;
        padding-left: 0;
        padding-top: 0;
    }

        /* -----team----- */

    .team-text h2, .team-text p {
        font-size: 40px;
    }
    .team-img{
        margin-bottom: 20px;
    }
    .team-item {
        flex: 0 0 33.33%;
        margin-bottom: 45px;
    }

    .team-img-text h2 {
        margin-bottom: 8px;
        font-size: 19px;
    }
   
        /* -----download----- */

    .download-img, .download-content {
        flex: 0 0 100%;
        padding: 0;
    }
    .download-content {
        order: 2;
        margin-top: 50px;
    }
    .download-content h2 {
        font-size: 40px;
    }
       
        /* -----faq----- */
        
    .faq-content h2 {
        font-size: 40px;
    }

    .faq-item .question {
        font-size: 22px;
        padding: 37px 50px 37px 30px;
    }
   
        /* -----contact----- */
    
    .contact-part {
        flex: 0 0 100%;
    }
    .contact-part.part-top {
        margin-bottom: 70px;
    }
    .contact-item {
        width: 100%;
    }
    .contact-part h2 {
        font-size: 38px;
    }
   
        /* -----newsletter----- */
    
    .main-news {
        padding: 45px 30px;
        display: block;
    }

    .main-news h2 {
        text-align: center;
        margin-bottom: 20px;
    }

        /* -----footer----- */
        
    .footer-top {
        padding: 55px 0 50px;
    }
    .footer-menu, .footer-social {
        padding: 0;
    }
    .footer-menu li {
        margin-right: 40px;
    }
    .footer-menu ul li:nth-child(4){
        margin-right: 0;
    }
    .footer-social ul li:nth-child(1){
        margin-left: 0;
    }
    .footer-bottom {
        display: block;
        text-align: center;
        padding: 20px 0;
    }
    .footer-scroll {
        display: none;
    }
    .footer-more ul {
        justify-content: center;
    }
    .footer-more ul li:nth-child(1){
        margin-left: 0;
    }

}

/* Small devices (landscape phones, 576px and up) */
@media screen and (max-width: 767.99px) {
    .max-width, .max-width-main {
        max-width: 540px;
    }

        /* -----header----- */
  
    
    .menu {
        display: none;
    }
    
    .header-action {
        display: none;
    }
  
    .mobile-menu {
        display: block;
    
    }

    
        /* -----banner----- */
    #banner {
        padding-top: 100px;
    }

    .banner-bg {
        height: 500px;
    }
    .banner-bg::before {
        top: 300px ;
        height: 280px;
        }
    
    .banner-content {
        max-width: 530px;
        margin-top: 40px;
    }
    
    .banner-content > h2 {
        margin-bottom: 40px;
        font-size: 54px;
        letter-spacing: -0.45px;
        line-height: 1.25;
    }

    .banner-content h2 {
        margin-bottom: 40px;
        font-size: 40px;
        letter-spacing: -0.45px;
    }

    .img-banner img {
        width: 510px;
    }
    
        /* -----countdown----- */

    #countdown {
        max-width: 540px;
    }
            
    .cd {
        width: 110px;
        height: 110px;
    }
    
    
    .cd-days {
        border: 5px solid #00C4F4;
    }
    .cd-hours {
        border: 5px solid #FF9700;
    }
    .cd-minutes {
        border: 5px solid #FF1D45;
    }
    .cd-seconds {
        border: 5px solid #12D176;
    }
    
    .cd-value div{
        margin-top: 25px;
    }
    
        /* -----about----- */
    
    .about-content h2 {
        font-size: 35px;
    }

    .about-content p {
        max-width: 95%;
    }

    .about-content .button {
        width: 230px;
        font-size: 13px;
        padding: 18px 28px;
    }

    .sticker-about img.sticker2 {
        bottom: 60px;
    }
    
        /* -----choose----- */

    .choose-text h2 {
        font-size: 36px;
        width: 100%;
    }
        
    .choose-content {
        text-align: center;
    }
    .choose-item .choose-item-text {
        width: 100%;
    }
    
        /* -----counter----- */
    
    .counter-part .counter-item {
        flex: 0 0 50%;
    }
    
    .main-counter {
        padding: 50px 30px 20px; 
    }
    .counter-icon {
        margin-right: 20px;
    }
    .counter-text .counter-number {
        font-size: 34px;
    }

        /* -----roadmap----- */

    .roadmap-text {
        width: 90%;
    }

    .roadmap-text h2{
        font-size: 36px;
    }

        /* -----team----- */

    .team-text h2, .team-text p {
        font-size: 36px;
    }
    .team-text br {
        display: none;
    }
    .team-item {
        flex: 0 0 50%
    }
   
        /* -----download----- */

    #download {
        padding: 120px 0;
    }

    .download-content h2 {
        font-size: 36px;
    }
      
        /* -----faq----- */
        
    #faq {
        padding: 115px 0 120px;
    }
    .sticker-about.sticker-faq, .faq-bg {
        display: none;
    }
    .faq-part {
        padding: 0;
    }
    .faq-content h2 {
        font-size: 36px;
    }
    .faq-item .question {
        font-size: 18px;
        padding: 25px 30px 25px 25px;
    }
   
        /* -----contact----- */
    
    .contact-part h2 {
        font-size: 32px;
    }
    .contact-item {
        padding: 22px 30px;
    }
    .contact-part h3 {
        font-size:26px ;
        line-height: 1.2;
    }
    .contact-part .button {
        padding: 20px 25px;
    }
   
        /* -----newsletter----- */
    
    .main-news {
        padding: 30px 35px;
        text-align: center;
    }

    .main-news h2 {
        font-size: 24px;
    }
    .main-news input {
        padding: 26px 20px 26px 20px;
    }
    .main-news .button {
        position: static;
        margin-top: 20px;
    }

        /* -----footer----- */
        
    .footer-top {
        padding: 40px 0 30px;
        justify-content: center;
    }
    .footer-menu ul,.footer-social ul {
        justify-content: center;
    }
    .footer-social {
        margin-top:20px ;
    }
    .footer-menu li {
        margin-right: 20px;
    }


}

/* Small devices (landscape phones, 576px and down) */
@media screen and (max-width: 575.99px) {
    .max-width, .max-width-main {
        max-width: 540px;
    }

        /* -----header----- */
  
    
    .menu {
        display: none;
    }
    
    .header-action {
        display: none;
    }
  
    .mobile-menu {
        display: block;
        flex-basis: 8%; 
    }
    
        /* -----banner----- */
    
    .banner-bg {
        height: 470px;
    }

    .banner-bg::before {
        top: 250px;
        height: 260px;
    }
    .banner-content {
        max-width: 530px;
        margin-top: 40px;
    }
    .banner-content > h2 {
        margin-bottom: 40px;
        font-size: 32px;
        letter-spacing: -0.45px;
    }

    .img-banner img {
        width: 90vw;
    }

        
        /* -----about----- */
    
    .about-content h2 {
        font-size: 28px;
        max-width: 100%;
    }
    
    .about-content p {
        max-width: 100%;
    }
    
    .about-content .button {
        width: 230px;
        font-size: 13px;
        padding: 16px 18px;
    }
    .sticker-about img.sticker2 {
        right: 60px;
        bottom: 40px;
    }

        /* -----choose----- */

    .choose-text h2 {
        font-size: 28px;
        width: 100%;
    }
    
    .choose-item {
        flex: 0 0 100%;
        max-width: 280px;
        text-align: center;
        margin: 0 auto 60px;
    }

        /* -----counter----- */

    .counter-part .counter-item {
        flex: 0 0 100%;
    }
    
        /* -----roadmap----- */

    .roadmap-text {
        width: 90%;
    }

    .roadmap-text h2{
        font-size: 28px;
    }

    .roadmap-item,
    .roadmap-part .roadmap-item:nth-child(3),
    .roadmap-part .roadmap-item:nth-child(4) {
        flex: 0 0 100%;
        padding-left: 0;
    }
    .roadmap-part .roadmap-item:nth-child(4) .roadmap-content p{
        max-width: 100%;
    }

        /* -----team----- */

    .team-text h2, .team-text p {
        font-size: 28px;
    }

    .team-item {
        flex: 0 0 100%
    }
   
        /* -----download----- */

    .download-content h2 {
        font-size: 28px;
    }
     
        /* -----faq----- */
    
    .faq-content h2 {
        font-size: 28px;
    }
   
        /* -----contact----- */
    
    .contact-item {
        padding: 22px 20px;
    }
    .contact-part h3 {
        font-size:22px ;
    }
    .contact-part .button {
        padding: 20px 25px;
    }
   
        /* -----newsletter----- */
    
    .main-news {
        padding: 30px 25px;
    }

        /* -----footer----- */
        




}


