.content-wrapper {
    margin: auto;

    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;

}

img, .img {
	max-width: 100%;
	transition: all 0.3s ease-out 0s;
}

/* ---------------
------header-----
------------------ */

header {
    padding: 15px 0;
    margin: 0 auto;
}
.sticky-header {
	/* position: absolute; */
	left: 0;
	top: 0px;
	z-index: 90;
	height: auto;

    padding: 20px 0;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo {
    flex-basis: 16%;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.logo img {
    max-height: 65px;
    vertical-align: middle;
}

.menu {
    flex-basis: 50%;
    display: flex;
    align-items: center;
    justify-content:center;
    gap: 40px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 14px;

    color: ;
}

.menu-item {
    cursor: pointer;
    padding:  0;
    position: relative;
}
.menu-item >a {
    position: relative;
    z-index: 1;
    letter-spacing: 1px;

    transition: all 0.3s ease-out 0s;
}

.menu-item:hover > a,
.menu li .menu-list li a:hover,
.menu a.set-color {
    color: #00C4F4;
} 


.menu li .menu-list {
    display: block;
	position: absolute;
    z-index: 30;
	top: 40px;
    padding: 18px 0;

	background: #0B1D33;
    min-width: 230px;

    box-shadow: 0px 30px 70px 0px rgba(0, 0, 0, 0.15);
	border: 1px solid rgba(255, 255, 255, 0.07);
	
	visibility: hidden;
	opacity: 0;
    transform: scale(1, 0);
	transform-origin: 0 0;
	transition: all 0.3s ease-in-out;

}

.menu li .menu-list li {
	text-align: left;
	display: block;
}

.menu li .menu-list li a {
    font-size: 14px;
	font-weight: 500;
	color: #fff;
	text-transform: uppercase;
	padding: 9px 15px 9px 25px;
	line-height: 1.4;
    display: block;


	transition: all 0.3s ease-in-out;
}

.menu li:hover > .menu-list{
	opacity: 1;
	visibility: visible;
	transform: scale(1);
}


.header-action {
    flex-basis: 34%;
    display: flex;
    justify-content:start;
    align-items: center;
    margin-left: 4rem;
    cursor: pointer;
}

.header-action > li {
	position: relative;
	margin-left: 65px;
}

.header-lang {
    position: relative;
}

.lang::after {
    font-family: "FontAwesome";
    content: "\f107";
    font-weight: 900;
    font-size: 12px;
	color: #00C4F4;
	margin-left: 10px;
    align-items: center;
}

.lang, .lang-list>li>a {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 400;
    color: ;
}

.header-lang .lang-list {
	position: absolute;
    z-index: 30;
	left: -10px;
	top: 40px;

    min-width: 100px;
	background: #0B1D33;
	padding: 10px 0;
	border-radius: 6px;
	box-shadow: 0px 30px 70px 0px rgba(40, 44, 49, 0.15);
	
    
	visibility: hidden;
	opacity: 0;
	transform-origin: top center;
	transform: perspective(400px) rotateX(-45deg);
	transition: all 0.3s ease-out 0s;
}
.header-lang:hover .lang-list {
	visibility: visible;
	opacity: 1;
	transform: perspective(400px) rotateX(0deg);
}

.header-lang .lang-list li a {
	display: block;
    margin-bottom: 5px;
	line-height: 1;
	font-size: 16px;
	color: #fff;
	padding: 5px 15px;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.header-lang .lang-list li a:hover {
	color: #00C4F4;
}


.header-buy {
    position: relative;
}

.header-buy::before {
    content: '';
    left: 0;
    position: absolute;
    background-color: #464858;
    height: 20px;
    width: 2px;
    align-items: center;
}

.buy-now {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    color: #fff ;
    /* padding: 20px 45px; */
    padding: 16px 35px;
    background: #00C4F4;
	border-radius: 5px;
    border: 2px solid #00C4F4;
    margin-left: 60px;

    transition: background-color 0.3s, border-color 0.4s ;

}

.buy-now:hover {
    background: #564DCA;
	border-color: #564DCA;
	color: #fff;
}

